@import './general.scss';

#imageSection {
    width: 100%;
}

#aProposSection {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 38px;
    margin-bottom: 38px;
    width: 100%;
}

.sectionIllustration {
    height: 223px;
}

.illustrationOverlay {
    height: 223px;
}

.dropdownContainer {
    width: 100%;
}

@media (max-width: 768px) {
    #imageSection {
        margin-top: 19px;
    }

    #aProposSection {
        gap: 20px;
    }

    #aProposSection {
        margin-top: 19px;
        margin-bottom: 19px;
    }

    .sectionIllustration {
        height: 100%;
    }

    .illustrationOverlay {
        height: 100%;
    }

}