@import './general.scss';

main {
    color: $main-color;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#error404 {
    font-weight: 700;
    font-size: 288px;
    margin-top: 89px;
    margin-bottom: 139px;
    width: 100%;
    text-align: center;
}

#errorMessage {
    margin-bottom: 139px;
    width: 100%;
    text-align: center;
}

#homepageRedirectionLink {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 139px;
    color: $main-color;
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {

#error404 {
    font-size: 96px;
    margin-top: 113px;
    margin-bottom: 113px
}

#error-message {
    margin-bottom: 113px;
    font-size: 18px;
}

#homepageRedirectionLink {
    font-size: 14px;
}

}