@import './general.scss';

.logementCarrousel {
    width: 100%;
    aspect-ratio: 3/1;
    position: relative;
}

#carouselContainer {
    width: 100%;
    aspect-ratio: 3/1;
    position: relative;
}

.carrouselImage {
    width: 100%;
    border-radius: 25px;
    aspect-ratio: 3/1;
    object-fit: cover;
}

#mainLogementContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-top: 24px;
}

#secondLogementContainer {
    display: flex;
    flex-direction: column;
    gap: 21px;
    justify-content: flex-end;
}

#hostContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#hostPicture {
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

#informationsContainer {
    display: flex;
    flex-direction: row;
    gap: 6%;
    margin-bottom: 50px;
}