@import './general.scss';

footer {
    background-color: black;
    height: 209px;
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    align-items: center;
}

#footerLogo {
    margin-top: 66px;
    margin-bottom: 29px;
}

#copyright {
    color: white;
    font-weight: 500;
    font-size: 24px;
}

@media (max-width: 768px) {
    #copyright {
        width: 30%;
        font-size: 12px;
        text-align: center;
    }
}