/* Title overlay */
.supperpositionContainer {
  position: relative;
  height: 223px;
  width: 100%;
}

.titleOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 1;
  font-weight: 500;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
}

.sectionIllustration {
  position: absolute;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.illustrationOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  opacity: 0.3;
  background-color: black;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  color: #FF6060;
}

/* Dropdown */
.dropdownContainer {
  display: flex;
  flex-direction: column;
}

.dropdownBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #FF6060;
  border-radius: 5px;
  height: 52px;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 20px;
  align-items: center;
  cursor: pointer;
}

.dropdownTitle {
  color: white;
  font-weight: 500;
  font-size: 24px;
}

.dropdownButton {
  color: white;
  border: none;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}

.dropdownText {
  background-color: #f6f6f6;
  color: #FF6060;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: 0px;
  overflow: hidden;
  padding: 0px 20px;
  transition: max-height 0.15s ease-in-out, padding-top 0.15s ease-in-out, padding-bottom 0.15s ease-in-out;
}

.dropdownText.open {
  max-height: 500px;
  padding: 20px;
}

.rotate-animation {
  transform: rotate(-180deg);
}

/* Notation stars */
#ratingContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: flex-end;
}

.grayStar {
  color: #E3E3E3;
}

.redStar {
  color: #FF6060;
}

/* Tags */
#tagsList {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 20px;
  gap: 10px;
}

.tagContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  height: 25px;
  border-radius: 10px;
  background-color: #FF6060;
  width: auto;
  min-width: 115px;
}

.logementTags {
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

/* Equipements */
#equipementsListe {
  list-style: none;
}

/* Carousel */
#carouselContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 3/1;
}

.carrouselButton {
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  top: 50%;
  cursor: pointer;
}

.carrouselButton.previous {
  left: 2%;
}

.carrouselButton.next {
  right: 2%;
}

.carrouselImage {
  width: 100%;
  border-radius: 25px;
  aspect-ratio: 3/1;
  -o-object-fit: cover;
     object-fit: cover;
}

.slideNumber {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 90%;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

/* Responsive */
@media (max-width: 1050px) {
  .slideNumber {
    top: 80%;
  }
  .titleOverlay {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  #sloganSection {
    aspect-ratio: 3/1;
    height: auto;
  }
  .sectionIllustration {
    width: 100%;
    height: auto;
    aspect-ratio: 3/1;
    border-radius: 10px;
  }
  .illustrationOverlay {
    width: 100%;
    height: auto;
    aspect-ratio: 3/1;
    border-radius: 10px;
  }
  .titleOverlay {
    width: 100%;
    height: auto;
    aspect-ratio: 3/1;
    text-align: left;
    justify-content: left;
  }
  .slideNumber {
    display: none;
  }
  .carrouselImage {
    width: 100%;
    aspect-ratio: 335/255;
  }
  .logementSlide {
    margin-top: 27px;
  }
  #mainLogementContainer {
    margin: 15px 0px;
    flex-direction: column;
    width: 100%;
    gap: 16.5px;
  }
  #secondLogementContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #hostContainer {
    order: 2;
  }
  #ratingContainer {
    order: 1;
  }
}
footer {
  background-color: black;
  height: 209px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  align-items: center;
}

#footerLogo {
  margin-top: 66px;
  margin-bottom: 29px;
}

#copyright {
  color: white;
  font-weight: 500;
  font-size: 24px;
}

@media (max-width: 768px) {
  #copyright {
    width: 30%;
    font-size: 12px;
    text-align: center;
  }
}/*# sourceMappingURL=footer.css.map */