@import './general.scss';

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 45px 0px 50px;
}

.imageMarginSmall {
    margin-right: 5px;
}

.imageMarginTall {
    margin-right: 11px;
}

#navigationButton {
    display: flex;
    gap: 57px;
}

.linkButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#linkButton {
    color: $main-color;
    font-weight: 500;
    font-size: 24px;
}

a {
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

@media (max-width: 768px) {

header {
    margin: 20px 0px 0px;
}

#linkButton {
    font-size: 12px;
}

#navigationButton {
    gap: 26px;
}

.logoNavbarTall {
    height: 43px;
}

.logoNavbarSmall {
    height: 33px;
}

.imageMarginSmall {
    margin-right: 4px;
}

.imageMarginTall {
    margin-right: 8px;
}

}